<div class="data">
  <label for="{{id}}" class="data__label">{{label}}</label>
  <input id="{{id}}" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" class="data__value data__value_input"></input>
</div>